<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registered services</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Add new health check</h1>

<form action="#" th:action="@{/create}" th:object="${createHealthCheckRequest}" method="post">
    <label for="serviceName">Service name</label>
    <input type="text" th:field="*{serviceName}" id="serviceName" placeholder="Service name" required>
    <span th:if="${#fields.hasErrors('serviceName')}" th:errors="*{serviceName}"></span>
    <label for="healthCheckURL">Health check URL</label>
    <input type="url" th:field="*{healthCheckURL}" id="healthCheckURL" placeholder="URL" required>
    <span th:if="${#fields.hasErrors('healthCheckURL')}" th:errors="*{healthCheckURL}"></span>
    <input type="submit" value="Add service">
</form>

</body>
</html>